<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmd2RnGzt4FdaPQVTyyb5j61ARH5L_1IU</string>
	<key>GCM_SENDER_ID</key>
	<string>696731780852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.skincare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>skincare-4eba2</string>
	<key>STORAGE_BUCKET</key>
	<string>skincare-4eba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696731780852:ios:5cc0975ea9b5ae73c500a1</string>
</dict>
</plist>